/*
project name: My project one page
project author: Masutay
project year: 2022
project version: 
*/

/* config file */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Crimson Text', serif; 
    background: #f6f5f2;
    color: #232221;
    position: relative;
}

html{
    font-size: 15px;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

p{
    text-align: justify;
}

.line-clamp4{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow:hidden;
}

.line-clamp8{
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow:hidden;
}

.line-clamp16{
    display: -webkit-box;
    -webkit-line-clamp: 16;
    -webkit-box-orient: vertical;
    overflow:hidden;
}
/* nav */
#logo_id{
    width: 3rem;
    border-style:outset;  
    border-width: .3rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* header */
header{
    background-image: url('picture/header.jpg');
    background-size: cover;
    background-position: 50% 50%;
    padding-top: 20rem;
    height: 40rem;
    z-index: -1; /*resmimizi ön plana mı arka plana mı almak istiyoruz.Resmimizi arka plana alıp yazıyı ön plana almak istersek -1 */
    background-color: black!important;
  
}
/* main */

#main_card_header_bottom > img{
    max-height: 25rem!important;
}

#main_card_header_bottom h5 p{
    color: black;
}


/* footer */
footer{
 min-height: 20rem;
 width: auto;
 background: #343a40;
 padding-top: 3rem;
 text-align: center;
 color: white!important;
}

